@import "@/styles/variables";

.primary {
  width: 221px;
  height: 64px;
  padding: 18px 40px;
  border-radius: 37px;
  border: 1px solid black;
  background-color: transparent;
  transition: color 100ms ease-out, border-color 100ms ease-out;
}

.primary:hover {
  color: $brand-blue;
  border-color: $brand-blue;
}

.secondary {
  width: 167px;
  height: 48px;
  border-radius: 37px;
  border: 1px solid black;
  padding: 10px 32px;
  background-color: transparent;
}

.secondary:hover {
  color: $brand-blue;
  border-color: $brand-blue;
}

.circular {
  border-radius: 50%;
  background-color: transparent;
  height: 80px;
  width: 80px;
  border: 2px solid white;
  cursor: pointer;
}

.circular:hover {
  color: $brand-blue;
  border: 2px solid $brand-blue;
}

.circular--small {
  border-radius: 50%;
  background-color: transparent;
  height: 64px;
  width: 64px;
  border: 2px solid white;
}

.circular--small:hover {
  color: $brand-blue;
  border: 2px solid $brand-blue;
}

.circular--xsmall {
  border-radius: 50%;
  background-color: transparent;
  height: 64px;
  width: 64px;
  border: 1px solid black;
}

.circular--xsmall:hover {
  color: $brand-blue;
  border: 1px solid $brand-blue;
}

.text {
  background-color: transparent;
  border: none;
  transition: color 100ms ease-out;
  cursor: pointer;
}

.text:hover * {
  color: $brand-blue;
}
