$brand-blue-dark: #004a80;
$brand-blue: #006cb7;
$brand-blue-light: #2cafe5;
$brand-blue-xlight: #bbdcf5;

$brand-yellow-dark: #edba00;
$brand-yellow: #ffd500;
$brand-yellow-light: #ffff62;
$brand-yellow-xlight: #fff6db;

$brand-red-dark: #9b0600;
$brand-red: #e3000b;
$brand-red-light: #f3987a;
$brand-red-xlight: #f9c4ae;

$brand-green-dark: #006a2a;
$brand-green: #00963e;
$brand-green-light: #9acea3;
$brand-green-xlight: #c0dfc3;

$brand-orange: #ee7500;

$text-color1: #000000;
$text-color2: #525252;
$text-color3: #808080;
$text-color3: #b1b1b1;

$background-1: #ffffff;
$background-2: #f5f5f5;
$background-3: #e0e0e0;
