@import "@/styles/variables";

$header-padding: 16px;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0 16px;
  z-index: 2;
}

.header-container {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;

  a {
    padding: 16px;
    text-align: center;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 24px;
  margin-right: 40px;
}

.buttons {
  display: flex;
  gap: 8px;
  margin-left: 106px;
}

.headerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 17px 5px;

  span {
    line-height: 13px;
    font-size: 13px;
  }
}

@media screen and (max-width: 1582px) {
  .header-container {
    justify-content: space-between;
    nav {
      display: none;
    }
  }
}
