@import "@/styles/variables";

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar--vertical {
  margin-top: 29px;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;

  a {
    width: 100%;
    overflow: visible;

    span {
      font-weight: 400;
    }
  }
}

.navBar--vertical .link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  overflow: visible;
}

.navBar--vertical .link::before {
  content: "";
  position: absolute;
  right: -200px;
  overflow: visible;
  top: 0;
  width: 2000px;
  height: 100%;
  background-color: $brand-blue;
  transition: right 0.3s ease;
  opacity: 0.2;
  z-index: 1;
}

.navBar--vertical .link:hover::before {
  right: -100px;
}

.navBar--vertical .link:not(:hover)::before {
  right: 2000px;
}

@media screen and (max-width: 1400px) {
  .navBar--vertical .link:hover::before {
    right: -50px;
  }
}

@media screen and (max-width: 1150px) {
  .navBar--vertical .link:hover::before {
    right: -20px;
  }
}

@media screen and (max-width: 992px) {
  .navBar--vertical .link::before {
    content: "";
    height: unset;
  }
}
