@import "@/styles/variables";

.sectionContainer {
  margin-top: 130px;
}

.relativeBox {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;

  .sectionArticle {
    margin-bottom: 80px;
  }

  .sectionArticle:last-child {
    margin-bottom: 0;
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionHeaderContainer {
  max-width: $max-width;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 0 8px;
  p {
    text-align: right;
  }

  h4 {
    border-top: unset;
    margin-bottom: -1px;
  }

  h4,
  p {
    padding: 0 16px;
  }
}

.articleBtn {
  svg {
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: transform 300ms ease-out, stroke 100ms ease-out;
  }
}

.articleBtn:hover {
  svg {
    stroke: $brand-blue;
    transform: translateX(10px);
  }
}

.sectionArticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc($max-width + 16px);
  margin: 0 auto 80px;
  gap: 180px;
}

.articleContent {
  padding: 16px;
}

.articleImage {
  position: absolute;
  top: 0;
  right: 0;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionArticle:last-child {
  margin-bottom: 0;
  flex-direction: row-reverse;

  .articleContent {
    align-items: end;

    p,
    h3 {
      text-align: end;
    }
  }

  .articleImage {
    bottom: 0;
    left: 0;
    top: unset;
    right: unset;
  }
}

.articleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  height: 530px;
  max-width: 586px;
}

.relativeBox .flipOrientation {
  flex-direction: row;

  .articleContent {
    align-items: flex-start;
    p,
    h3 {
      text-align: left;
    }
  }

  .articleImage {
    top: 0;
    right: 0;
    left: unset;
    bottom: unset;
  }
}

.border-orange {
  border-top: 1px solid $brand-orange;
  border-bottom: 1px solid $brand-orange;
}

.border-green {
  border-top: 1px solid $brand-green;
  border-bottom: 1px solid $brand-green;
}

.border-blue {
  border-top: 1px solid $brand-blue;
  border-bottom: 1px solid $brand-blue;
}

.border-grey {
  border-top: 1px solid $background-3;
  border-bottom: 1px solid $background-3;
}

.border-black {
  border-top: 1px solid $color1;
  border-bottom: 1px solid $color1;
}

.border-pink {
  border-top: 1px solid #fc36a5;
  border-bottom: 1px solid #fc36a5;
}

.border-yellow {
  border-top: 1px solid $brand-yellow;
  border-bottom: 1px solid $brand-yellow;
}

.border-red {
  border-top: 1px solid $brand-red;
  border-bottom: 1px solid $brand-red;
}

@media screen and (min-width: 992px) {
  .relativeBox {
    .sectionArticle--max-height {
      max-height: 528px;
    }
  }

  .sectionArticle {
    height: fit-content;
  }
}

@media screen and (max-width: 1600px) {
  .articleImage {
    position: relative;
    flex: 1.5;
    img {
      width: 100%;
    }
  }

  .articleContent {
    flex: 1;
    max-width: unset;
    height: unset;
  }
  .sectionArticle {
    gap: unset;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .sectionArticle {
    flex-direction: column-reverse;
    gap: unset;
    margin-bottom: 80px;
  }

  .sectionArticle:last-child {
    flex-direction: column-reverse;
    .articleContent {
      align-items: start;

      p {
        text-align: start;
      }
    }
  }

  .sectionArticle:last-child {
    .articleContent {
      align-items: flex-start;

      p,
      h3 {
        text-align: left;
      }
    }
  }

  .articleImage {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .sectionContainer {
    margin-top: 58px;
  }

  .sectionHeaderContainer {
    flex-direction: column;

    p {
      padding: 8px 16px;
    }
  }

  .sectionContainer .relativeBox {
    border-top: unset;
  }

  .border-orange {
    border-top: unset;
  }
}
