@import "@/styles/variables";

.banner {
  position: relative;
}

.video {
  height: calc(100vh - 89px);
  background-color: $color4;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  padding-bottom: 60px;
  margin-top: 89px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannerSectionContainer {
  display: flex;
  padding: 0 16px;
  align-items: end;
  justify-content: flex-end;
  width: 100%;
  margin-right: 120px;
}

.videoBtnContainer {
  display: flex;
  align-items: end;
  gap: 0 24px;
  z-index: 1;
}

.btnContent {
  svg {
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: color 100ms ease-out, border-color 100ms ease-out;
  }
}

.btnContent:hover svg {
  stroke: $brand-blue;
}

.message {
  width: 100%;
  position: absolute;
  bottom: 120px;
  padding: 0 16px;

  p {
    font-size: 80px;
    line-height: 100px;
    color: white;
    text-align: left;
  }
}

.messageContainer {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;

  p {
    user-select: none;
  }
}

.scroll-message {
  position: absolute;
  right: 40px;
  bottom: 31px;
  display: flex;
  align-items: center;
  gap: 0 32px;
  span {
    color: black;
  }
}

@media screen and (max-width: 1700px) {
  .messageContainer {
    padding-right: calc(50vw - 20%);
  }
}

@media screen and (max-width: 1200px) {
  .bannerSectionContainer {
    margin-right: 50px;
  }
}

@media screen and (max-width: 992px) {
  .video {
    height: 700px;
    margin-top: 91px;
    padding-bottom: 80px;
  }

  .bannerSectionContainer {
    margin-right: unset;
  }

  .scroll-message {
    display: none;
  }

  .message {
    position: relative;
    bottom: unset;
    padding: 16px;
    p {
      font-size: 38px;
      line-height: 50px;
      color: unset;
    }
  }
  .messageContainer {
    padding-right: unset;
  }

  .messageContainer {
    p {
      font-weight: 400;
      display: inline;
    }
    p:not(:first-child) {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 576px) {
  .video {
    height: 375px;
    padding-bottom: 16px;
  }
  .message {
    padding-bottom: 0;
  }
}
